<a href="https://colab.research.google.com/github/NikhilGurrapu/ColumnTransformer/blob/main/ColumnTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [92]:
data=pd.read_csv('/content/sample_data/covid_toy.csv')

In [93]:
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [94]:
from sklearn.compose import ColumnTransformer

In [95]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [96]:
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
X_train, X_test, y_train, y_test=train_test_split(data.drop(columns=['has_covid']),data['has_covid'],test_size=0.2)

In [99]:
X_train.head()

    age  gender  fever   cough       city
35   82  Female  102.0  Strong  Bangalore
6    14    Male  101.0  Strong  Bangalore
47   18  Female  104.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata
37   55    Male  100.0    Mild    Kolkata

In [100]:
X_train_tnf=pd.DataFrame(transformer.fit_transform(X_train),columns=('fever','cough','gender','city_1','city_2','city_3','age'))
X_train_tnf.head()

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

   fever  cough  gender  city_1  city_2  city_3   age
0  102.0    1.0     0.0     0.0     0.0     0.0  82.0
1  101.0    1.0     1.0     0.0     0.0     0.0  14.0
2  104.0    0.0     0.0     0.0     0.0     0.0  18.0
3  101.0    0.0     0.0     0.0     1.0     0.0   8.0
4  100.0    0.0     1.0     0.0     1.0     0.0  55.0

In [101]:
X_test_tnf=pd.DataFrame(transformer.fit_transform(X_test),columns=('fever','cough','gender','city_1','city_2','city_3','age'))
X_test_tnf.head()

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

   fever  cough  gender  city_1  city_2  city_3   age
0   98.0    0.0     0.0     0.0     1.0     0.0  31.0
1  101.0    1.0     0.0     0.0     1.0     0.0  51.0
2  103.0    1.0     1.0     0.0     0.0     0.0  46.0
3  102.0    0.0     1.0     0.0     1.0     0.0   5.0
4  103.0    0.0     0.0     1.0     0.0     0.0  73.0